In [41]:
# ------------------------------------------------------------------
# Build the Support Vector Classifier Model
# Predict the loan approval status based on 
# Gender, Marital Status, Credit History, Income and Loan Amount
# ------------------------------------------------------------------

# Import Libraries and read csv file
import pandas as pd
df = pd.read_csv("01Exercise1.csv")
df

     gender married   ch  income  loanamt status
0      Male      No  1.0    5849      NaN      Y
1      Male     Yes  1.0    4583    128.0      N
2      Male     Yes  1.0    3000     66.0      Y
3      Male     Yes  1.0    2583    120.0      Y
4      Male      No  1.0    6000    141.0      Y
..      ...     ...  ...     ...      ...    ...
609  Female      No  1.0    2900     71.0      Y
610    Male     Yes  1.0    4106     40.0      Y
611    Male     Yes  1.0    8072    253.0      Y
612    Male     Yes  1.0    7583    187.0      Y
613  Female      No  0.0    4583    133.0      N

[614 rows x 6 columns]

In [42]:
#find out columns with missing values
df.isnull().sum(axis=0)

gender     13
married     3
ch         50
income      0
loanamt    22
status      0
dtype: int64

In [43]:
# Replace Missing Values. Drop the rows.
df = df.dropna()

In [44]:
# Drop irrelevant columns based on business sense
df = df.drop(['gender'], axis=1)

In [55]:
# Create Dummy variables
df.dtypes
df = pd.get_dummies(df, drop_first=True)
df

      ch    income   loanamt  married_Yes  status_Y
1    1.0 -0.128073 -0.194250            1         0
2    1.0 -0.392077 -0.971015            1         1
3    1.0 -0.461621 -0.294478            1         1
4    1.0  0.108246 -0.031380            0         1
5    1.0  0.011017  1.547205            1         1
..   ...       ...       ...          ...       ...
609  1.0 -0.408754 -0.908372            0         1
610  1.0 -0.207624 -1.296754            1         1
611  1.0  0.453802  1.371807            1         1
612  1.0  0.372249  0.544929            1         1
613  0.0 -0.128073 -0.131608            0         0

[529 rows x 5 columns]

In [56]:
# Normalize the data (Income and Loan Amount) Using StandardScaler
from sklearn.preprocessing import StandardScaler
scalar_ = StandardScaler()

df['income'] = scalar_.fit_transform(df[['income']])
df['married_Yes'] = scalar_.fit_transform(df[['married_Yes']])
df

      ch    income   loanamt  married_Yes  status_Y
1    1.0 -0.128073 -0.194250     0.748647         0
2    1.0 -0.392077 -0.971015     0.748647         1
3    1.0 -0.461621 -0.294478     0.748647         1
4    1.0  0.108246 -0.031380    -1.335743         1
5    1.0  0.011017  1.547205     0.748647         1
..   ...       ...       ...          ...       ...
609  1.0 -0.408754 -0.908372    -1.335743         1
610  1.0 -0.207624 -1.296754     0.748647         1
611  1.0  0.453802  1.371807     0.748647         1
612  1.0  0.372249  0.544929     0.748647         1
613  0.0 -0.128073 -0.131608    -1.335743         0

[529 rows x 5 columns]

In [57]:
# Create the X (Independent) and Y (Dependent) dataframes
X = df['income']
Y = df['married_Yes']

In [58]:
# Split the X and Y dataset into training and testing set
df['income'].values.reshape(-1,1)
X = df['income'].values.reshape(-1,1)
y = df['married_Yes'].values.reshape(-1,1)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = \
train_test_split(X, Y, test_size = 0.33, random_state = 42)

In [59]:
# Import and build Support Vector Classifier
from sklearn.linear_model import LogisticRegression
logreg_clf = LogisticRegression()

In [63]:
# Predict the outcome using Test data
logreg_model = logreg_clf.fit(X_train, Y_train)
logreg_prediction = logreg_clf.predict(X_test)

ValueError: Unknown label type: 'continuous'

In [67]:
# Build the conufsion matrix and get the accuracy/score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
logreg_model = logreg_clf.fit(X_train, Y_train)
logreg_prediction = logreg_clf.predict(X_test)
print("Accuracy {0:.2f}%".format(100*accuracy_score(logreg_prediction, Y_test)))
print(confusion_matrix(logreg_prediction, Y_test))
print(classification_report(logreg_prediction, Y_test))

ValueError: Unknown label type: 'continuous'